<section>
    <article>
        <h1>情報セキュリティ基本方針</h1>
        <div>
            <p>株式会社ベネフィシャルテクノロジー（当社）は、情報セキュリティの確保が当社の経営上及び事業上の最重要課題のひとつである考え、当社の情報資産を保護する指針として情報セキュリティ基本方針を策定し、以下の通り実施いたします。</p>
        </div>

        <div>
            <h2>1．情報資産の保護</h2>
            <p>当社は、インターネット関連事業をコア・ビジネスとして事業を営んでいることを踏まえ、情報資産の機密性、完全性及び可用性に対する脅威から情報資産を確実に保護するため、それぞれの業務実態に応じた適切な管理策を講じます。</p>
        </div>

        <div>
            <h2>２．法令等の遵守</h2>
            <p>当社は、情報セキュリティに関する法令、規格その他の規範に準拠・適合させるとともに、これらの法令、規格その他の規範を遵守します。</p>
        </div>

        <div>
            <h2>３．教育・訓練</h2>
            <p>当社は、役員及び従業員の情報セキュリティへの意識向上を図ることを目的として、必要に応じて情報セキュリティについての教育・訓練を行ないます。</p>
        </div>

        <div>
            <h2>４．事故発生予防と対応</h2>
            <p>当社は、情報セキュリティ事故の発生予防に努めるとともに、万一、事故が発生した場合には、再発防止策を含む適切な対策を速やかに講じます。</p>
        </div>

        <div>
            <h2>５.　継続的な改善</h2>
            <p>当社は、本「情報セキュリティ基本方針」の活動を継続的に実施し、新たな脅威にも対応可能な管理体制を確立するとともに、当該基本方針は常に見直しを行い継続的改善に努めます。</p>
        </div>

        <div>
            <p>
                2016年10月01日<br>
                株式会社ベネフィシャルテクノロジー<br>
                代表取締役社長　山本　幸男
            </p>
        </div>

    </article>
</section>